= form_for @lugar do |f|
  = render 'error_messages', :target => @access_point
  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :resumen
    = f.text_area :resumen
  .field
    = f.label :descripcion
    = f.text_area :descripcion
  .actions
    = f.submit 'Save'
