.row
  .span5
    %h1 Lugares
  .span7
    = link_to 'Crear Lugar', new_lugar_path, class: 'btn btn-primary'

%table.table.table-striped.table-bordered.table-hover
  %tr
    %th Nombre
    %th

  - @lugares.each do |lugar|
    %tr
      %td= lugar.nombre
      %td.btn-group
        = link_to 'Mostrar', lugar, class: 'btn'
        = link_to 'Editar', edit_lugar_path(lugar), class: 'btn'
        = link_to 'Borrar', lugar, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger'

.form-actions
  = link_to 'Crear Lugar', new_lugar_path, class: 'btn btn-primary'
