= form_for @localidad do |f|
  -if @localidad.errors.any?
    #error_explanation
      %h2= "#{pluralize(@localidad.errors.count, "error")} prohibited this localidad from being saved:"
      %ul
        - @localidad.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .actions
    = f.submit 'Save'
