.row
  .span6
    #FotosCarousel.carousel.slide   
      .carousel-inner
        - first_element = true
        - @lugares.each do |lugar| 
          - lugar.fotografias.each do |f| 
            = content_tag(:div, class: (first_element) ? 'item active' : 'item') do
              = image_tag(f.imagen_url(:medium).to_s) 
              .carousel-caption
                %h4
                  = link_to f.titulo, lugar_path(lugar)
                %p
                  = f.descripcion
              - first_element = false
      = link_to '‹', '#FotosCarousel', class: 'carousel-control left', data: { slide: 'prev'}
      = link_to '›', '#FotosCarousel', class: 'carousel-control right', data: { slide: 'next'}

  .lugares_normal
    %ul.thumbnails

      - @lugares.each do |lugar|
        %li.span3
          .thumbnail
            .nombre= link_to lugar.nombre, lugar_path(lugar)
            .foto= link_to image_tag(lugar.fotografias[0].imagen_url(:medium).to_s, width: 145), lugar_path(lugar)
            .ver_mas= link_to 'Ver detalles', lugar_path(lugar)


