.row
  .span6
    #FotosCarousel.carousel.slide   
      .carousel-inner
        - first_element = true
        - ev = eventos_principales
        - ev.each do |e| 
          - e.fotografias.each do |f| 
            = content_tag(:div, class: (first_element) ? 'item active' : 'item') do
              = image_tag(f.imagen_url(:medium).to_s, width: 660) 
              .carousel-caption
                %h4
                  = link_to f.titulo, evento_path(e)
                %p
                  = f.descripcion
              - first_element = false
      = link_to '‹', '#FotosCarousel', class: 'carousel-control left', data: { slide: 'prev'}
      = link_to '›', '#FotosCarousel', class: 'carousel-control right', data: { slide: 'next'}

  .eventos
    %ul.thumbnails
      - @eventos.each do |evento|
        %li.span3
          .thumbnail
            .nombre= link_to evento.nombre, evento_path(evento)
            .foto= link_to image_tag(evento.fotografias.first.imagen_url(:medium).to_s, width: 80), evento_path(evento)
            .resumen= truncate evento.resumen, length: 120
            .ver_mas= link_to 'Ver más', evento_path(evento)
            .fecha= l evento.fecha_y_hora, format: :short

