%h1.nombre_mes= l(@date, format: :mes_anio).titleize
.span1= link_to 'Mes anterior', '/calendario/' + "#{@date.prev_month.year}/#{@date.prev_month.month}"
.span9
  #calendar
    = calendar_for(@eventos, :year => @date.year, :month => @date.month, html: { class: 'table table-bordered' }) do |t|
      = t.head('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sábado', 'domingo')
      = t.day(day_method: :fecha_y_hora) do |fecha, eventos|
        - if fecha.month == @date.month
          = fecha.day
          %br
          = content_tag :div, class: (eventos.size > 1 ? 'multiple' : 'single') do
            - nombres = eventos.collect(&:nombre).to_sentence
            - evento = eventos.first
            = link_to_evento evento, nombres if eventos.size > 0

.span1= link_to 'Mes siguiente', '/calendario/' + "#{@date.next_month.year}/#{@date.next_month.month}"
