.row.page-header
  .span8
    %h3 Eventos a realizarse en las próximas semanas
  .span4
    = render 'options_buttons'

= render 'normal_eventos' if params[:view].blank?
= render 'list_eventos' if params[:view] == 'list'
= render 'thumbnail_eventos' if params[:view] == 'thumbnail'
= render 'mapa_eventos' if params[:view] == 'map'
