.span7
  %h3 Eventos a realizarse en las próximas semanas
  #FotosCarousel.carousel.slide   
    .carousel-inner
      - first_element = true
      - ev = @eventos.all[1...5]
      - ev.each do |e| 
        - e.fotografias.each do |f| 
          = content_tag(:div, class: (first_element) ? 'item active' : 'item') do
            = image_tag(f.imagen_url(:medium).to_s, width: 660) 
            .carousel-caption
              %h4
                = f.titulo
              %p
                = f.descripcion
            - first_element = false
    = link_to '‹', '#FotosCarousel', class: 'carousel-control left', data: { slide: 'prev'}
    = link_to '›', '#FotosCarousel', class: 'carousel-control right', data: { slide: 'next'}

.eventos
  - @eventos.each do |evento|
    .preview
      .nombre= evento.nombre
      .foto= link_to image_tag(evento.fotografias[0].imagen_url(:medium).to_s, width: 80), evento_path(evento)
      .resumen= truncate evento.resumen, length: 120
      .ver_mas= link_to 'Ver más', evento_path(evento)
      .fecha= l evento.fecha_y_hora, format: :short
