= form_for(@evento, html:{ class:'form-horizontal'}) do |f|
  = render 'error_messages', :target => @evento
  %fieldset 
    .control-group
      = f.label :nombre, class: 'control-label'
      .controls
        = f.text_field :nombre
    .control-group
      = f.label :resumen, class: 'control-label'
      .controls
        = f.text_area :resumen
    .control-group
      = f.label :descripcion, class: 'control-label'
      .controls
        = f.text_area :descripcion
    .control-group
      = f.label :fecha_y_hora, class: 'control-label'
      .controls
        = f.datetime_select :fecha_y_hora
    .control-group
      = f.label :costo, class: 'control-label'
      .controls
        = f.text_field :costo

    = render 'fotografias/fotografias_fields', :f => f
  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
