%h1= "Resultado de la búsqueda"

%ul#myTab.nav.nav-tabs
  %li.active
    = link_to "Eventos (#{@eventos.size})", '#home', data: {toggle: "tab"}
  %li
    = link_to "Lugares (#{@lugares.size})", '#profile', data: {toggle: "tab"}

.row
  #myTabContent.tab-content
    #home.tab-pane.fade.in.active

      .span5
        %h3= "Eventos que coinciden con #{@busqueda}"
      .otro{style: 'clear: both'}

      - primeros_eventos = @eventos[1..10] || []
      - resto_eventos = @eventos[11..-1] || []
      .eventos
        - primeros_eventos.each do |evento|
          .preview_search
            .nombre
              = evento.nombre
              = evento.costo == 0 ? '¡Gratis!' : number_to_currency(evento.costo)
            .foto= link_to (image_tag evento.fotografias.first.imagen_url(:thumb).to_s, width: 120), evento_path(evento)
            .resumen= truncate evento.resumen, length: 120
            .ver_mas= link_to 'Ver más', evento_path(evento)
            .fecha= l evento.fecha_y_hora, format: :short
            .lugar= evento.lugar

        - resto_eventos.each do |evento|
          %p
            = image_tag evento.fotografias.first.imagen_url(:thumb).to_s, width: 50
            %b= evento.nombre
            %em= evento.costo == 0 ? '¡Gratis!' : number_to_currency(evento.costo)
            = truncate evento.resumen, length: 120
            = link_to 'Ver más', evento_path(evento)

    #profile.tab-pane.fade
      .span5
        %h3= "#{@lugares.size} Lugares"
      .otro{style: 'clear: both'}

      - primeros_lugares = @lugares[1..10] || []
      - resto_lugares = @lugares[11..-1] || []
      .eventos
        - primeros_lugares.each do |evento|
          .preview_search
            .nombre
              %b= evento.nombre
            .foto= image_tag evento.fotografias.first.imagen_url(:thumb).to_s, width: 120
            .resumen= truncate evento.resumen, length: 170
            .ver_mas= link_to 'Ver más', evento_path(evento)

        - resto_lugares.each do |evento|
          %p
            = image_tag evento.fotografias.first.imagen_url(:thumb).to_s, width: 50
            %b= evento.nombre
            = truncate evento.resumen, length: 120
            = link_to 'Ver más', evento_path(evento)
