%h1= "Resultado de la búsqueda"

%ul#myTab.nav.nav-tabs
  %li.active
    = link_to "Eventos (#{@eventos.size})", '#eventos', data: {toggle: "tab"}
  %li
    = link_to "Lugares (#{@lugares.size})", '#lugares', data: {toggle: "tab"}

.row
  .span12
    #myTabContent.tab-content
      #eventos.tab-pane.fade.in.active
        .span5
          %h3= "Eventos que coinciden con #{@busqueda}"
        = render 'home/thumbnail_eventos'

      #lugares.tab-pane.fade
        .span5
          %h3= "Lugares que coinciden con #{@busqueda}"
        = render 'home/thumbnail_lugares'
