%h1 Listing eventos

%table
  %tr
    %th Nombre
    %th Resumen
    %th Descripcion
    %th Fecha y hora
    %th Costo
    %th

  - @eventos.each do |evento|
    %tr
      %td= evento.nombre
      %td= evento.resumen
      %td= evento.descripcion
      %td= evento.fecha_y_hora
      %td= evento.costo
      %td.btn-group
        = link_to 'Show', evento, class: 'btn'
        = link_to 'Edit', edit_evento_path(evento), class: 'btn'
        = link_to 'Destroy', evento, :confirm => 'Are you sure?', :method => :delete, class: 'btn'

%br

= link_to 'New Evento', new_evento_path, class:'btn btn-primary'
