%h1 Listing eventos

%table
  %tr
    %th Nombre
    %th Resumen
    %th Descripcion
    %th Fecha y hora
    %th Costo
    %th
    %th
    %th

  - @eventos.each do |evento|
    %tr
      %td= evento.nombre
      %td= evento.resumen
      %td= evento.descripcion
      %td= evento.fecha_y_hora
      %td= evento.costo
      %td= link_to 'Show', evento
      %td= link_to 'Edit', edit_evento_path(evento)
      %td= link_to 'Destroy', evento, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Evento', new_evento_path
