.row.page-header
  .span7
    %h1
      = @evento.nombre
  .span5
    %h3
      = l @evento.fecha_y_hora, format: :short
      %small
        Costo:
        = number_to_currency @evento.costo
    %h3
      = @evento.lugar
.row
  .span7
    #FotosCarousel.carousel.slide   
      .carousel-inner
        - first_element = true
        - @evento.fotografias.each do |f|
          = content_tag(:div, class: (first_element) ? 'item active' : 'item') do
            = image_tag(f.imagen_url(:medium).to_s) 
            .carousel-caption
              %h4
                = f.titulo
              %p
                = f.descripcion
            - first_element = false
      = link_to '‹', '#FotosCarousel', class: 'carousel-control left', data: { slide: 'prev'}
      = link_to '›', '#FotosCarousel', class: 'carousel-control right', data: { slide: 'next'}
  .span5
    = link_to 'Ubicacion', '#ubicacion'
    \|
    = link_to 'Servicios', '#servicios'
    %p.evento_resumen
      %strong Resumen:
      = @evento.resumen
    %p.evento_descripcion
      %strong Descripción:
      = @evento.descripcion
#ubicacion
  = gmaps(@marker)
#servicios

